/* start default them */
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.carousel-indicators .active,
.option-box .gear-check
{
	background-color:#2b2f3c;	
}

.navbar-inverse .navbar-brand span, 
.about h1 span,
.testimonials span,
.footer h3,
.footer .copyright span
{
	color:#2b2f3c;
}

.option-box .color-option,
.testimonials .carousel-indicators li.active
{
	border:2px solid #2b2f3c;
}

.navbar-nav > li > .dropdown-menu {
	border-top:2px solid #2b2f3c;
}

/* start default them */